* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-height: 100vh;
}

.container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 512px;
    height: 48px;
    padding: 8px;
    background: rgb(189, 173, 255);
    border-radius: 12px 12px 0 0;
    /* border-radius: 0 8px 0 8px; */
}
.score {
    font-weight: bold;
    margin: 0 30px;
}
.game-screen {
    background-color: rgb(35, 35, 35);
    height: 688px;
}